<div class="container">
    <h1>Lista de compras </h1>

    <form class="add-item-form" #listaForm="ngForm" (ngSubmit)="adicionarItem()">
        <input 
            type="text" 
            id="item" 
            placeholder="Adicionar item" 
            [(ngModel)]="item"
            name="item"
        >
        <button type="submit">Adicionar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of lista">
                <td>
                    <span [ngClass]="{ 'item-riscado': item.comprado }">{{item.id}}</span>
                </td>
                <td>
                    <span [ngClass]="{ 'item-riscado': item.comprado }">{{item.nome}}</span>
                </td>
                <td> 
                    <input 
                        type="checkbox" 
                        (click)="riscarItem(item)"
                        [checked]="item.comprado" 
                         /> 
                </td>
            </tr>
        </tbody>
    </table>
</div>
