<div class="container">
    <h1>Lista de compras </h1>

    <form class="add-item-form" #listaForm="ngForm" (ngSubmit)="adicionarItem()">
        <input 
            type="text" 
            id="item" 
            placeholder="Adicionar item" 
            [(ngModel)]="item"
            name="item"
        >
        <button type="submit">Adicionar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of lista">
                <td>{{item.id}}</td>
                <td>{{item.nome}}</td>
                <td> <input type="checkbox"/> </td>
            </tr>
        </tbody>
    </table>
</div>
